name: Check generated files

on:
  push:
    branches:
      - master
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/check-generated.yml"
  pull_request:
    branches:
      - "*"
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/check-generated.yml"

  workflow_dispatch: {}

jobs:
  check-generated:
    permissions:
      contents: read
    uses: capnspacehook/go-workflows/.github/workflows/check-generated.yml@master
